@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nosifer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 116px;
  text-align: center;
  color: #612cde;
  margin-top: 5rem;
  margin-bottom: 0rem;
}

header h2 {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}

h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

header p {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  text-align: center;
  margin: auto;
  width: 75%;
  margin-bottom: 4rem;
}

body {
  margin: auto;
  text-align: center;
}

#podium {
  max-width: 100%;
  height: auto;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 200px;
  justify-content: center;
  padding: 20px;
}

.card {
  background: #F2EDFF;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 30%; /* Adjusted width to ensure only 3 cards per row */
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0.2, 0.5);
}

.card img {
  width: 100%;
  height: 250px;
  max-height: 250px; /* Maximum height for the images */
  object-fit: contain; /* Ensures the entire image fits within the specified dimensions */
}

.card-content {
  padding: 20px;
}

.card h2 {
  margin-top: 0;
  font-size: 32px;
  color: #612cde;
  margin-left: 25px;
  text-align: justify;
}

.card p {
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  margin: auto;
  width: 90%;
  line-height: 1.5;
  text-align: justify;
}

.card a {
  font-family: "Bebas Neue", sans-serif;
  display: inline-block;
  margin-top: 20px;
  background: #612cde;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s, transform 0.3s;
  text-align: center;
  line-height: 4; /* Adjust line-height if needed */
  font-size: 24px;
  padding: 10px 60px;
}

.card a:hover {
  background: #007bff;
  transform: translateY(-2px);
}

.card a:active {
  transform: translateY(0);
}

----------------------------------------------------------------------
  .project-cards2 {
  display: flex;
  flex-wrap: wrap;
  gap: 200px;
  justify-content: center;
  padding: 20px;
}

.card2 {
  background: #f2edff;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 30%; /* Adjusted width to ensure only 3 cards per row */
  transition: transform 0.3s, box-shadow 0.3s;
}

.card2:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0.2, 0.5);
}

.card2 img {
  width: 100%;
  height: 250px;
  max-height: 250px; /* Maximum height for the images */
  object-fit: contain; /* Ensures the entire image fits within the specified dimensions */
}

.card2-content {
  padding: 20px;
}

.card2 h2 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #333;
}

.card2 p {
  color: #666;
  font-size: 1rem;
  line-height: 1.5;
}

.card2 a {
  font-family: "Bebas Neue", sans-serif;
  display: inline-block;
  margin-top: 20px;
  background: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s, transform 0.3s;
  text-align: center;
  line-height: 4; /* Adjust line-height if needed */
  font-size: 24px;
  padding: 10px 60px;
}

.card2 a:hover {
  background: #0056b3;
  transform: translateY(-2px);
}

.card2 a:active {
  transform: translateY(0);
}

.garticle h1 {
  margin-bottom: 5rem;
}
.garticle p {
  font-family: "Inter";
  font-size: 26px;
  text-align: center;
  margin: auto;
  width: 60%;
  margin-bottom: 2rem;
  text-align: justify;
}

.logotypes {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 60%;
}

.logotypes img {
  width: 120px;
  height: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.garticle map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
